<div>
  <h1>
    Hola Recupera tu Contraseña aqui
  </h1>
  <section>
    <div>
      {{ msg }}
    </div>
    <form action="/api/sessions/recovery" method="post">

      <div>
        <label for="correo">Email</label>
        <input type="email" placeholder="correo" name="email" required />
      </div>

      <div>
        <label for="password">Nueva Contraseña</label>
        <input
          type="password"
          name="password"
          id="password"
          minlength="6"
          required
        />
      </div>

      <button type="submit">Cambiar Contraseña</button>
    </form>
  </section>
    <div>
    <a href="/">Volver al login</a>
  </div>
</div>